<footer>
	<div class="container-fluid" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<img src="img/mecca_icon.png" alt="">
				</div>
				<div class="col-md-11">
					<div class="row">
						<div class="col-md-2">
							<h4>Utilidades</h4>
							<ul class="list-unstyled">
							  <li><a href="#">Ajuda</a></li>
							  <li><a href="#">Como vender</a></li>
							  <li><a href="#">Como comprar</a></li>
							  <li><a href="#">Promoções</a></li>
							  <li><a href="#">Mapa do site</a></li>
							</ul>
						</div>
						<div class="col-md-2">
							<h4>Minha Conta</h4>
							<ul class="list-unstyled">
								<li><a href="#">Criar conta</a></li>
								<li><a href="#">Fazer login</a></li>
							</ul>
						</div>
						<div class="col-md-2">
							<h4>Promoções</h4>
							<ul class="list-unstyled">
								<li><a href="#">Promo A</a></li>
								<li><a href="#">Promo B</a></li>
								<li><a href="#">Promo C</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-md-push-3 text-right">
							<h4>Siga a gente</h4>
							<ul class="list-inline" id="social">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
								<li><a href="#"><span class="fa fa-instagram"></span></a></li>
								<li><a href="#"><span class="fa fa-tumblr"></span></a></li>
								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="legal">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					mecca.com.br atividades de internet LTDA / CNPJ: XX.XXX.XXX/XXXX-XX
				</div>
				<div class="col-md-7 text-right">
					<a href="#">termos de serviço</a> &bullet; <a href="#">política de privacidade</a> &bullet; mecca © 2015 todos os direitos reservados
				</div>
			</div>
		</div>
	</div>
</footer>