<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/main.js"></script>

<script type="text/javascript">
/*  
* Habilitar essa opção e iniciar controle de versão dos aquivos .js .css quando entrar em produção (caching p/ performance!) 
*
$.ajaxSetup({
cache: true
});  
*
*/

	//document ready only scripts
	$(document).ready(function() {

	$.getScript("/js/utils/search.js");

	}); //document.ready
</script>