<div id="modalCadastro" class="modal fade" role="dialog" aria-labelledby="modalCadastro" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modalBar"></div>
			<div class="fields">
				<input type="text" placeholder="E-mail"					id="signin_Email" 			name="signin_Email"			alt="E-mail"			maxlength="35">
				<input type="text" placeholder="Confirmação E-mail"		id="signin_Email2"			name="signin_Email2"		alt="Confirmação E-mail" maxlength="35">
				<input type="text" placeholder="CPF"					id="signin_CPF"	 			name="signin_CPF"			alt="CPF">
				<input type="text" placeholder="Nome"					id="signin_Nome" 			name="signin_Nome"			alt="Nome"				maxlength="25">
				<input type="text" placeholder="Sobrenome"				id="signin_Sobrenome" 		name="signin_Sobrenome"		alt="Sobrenome"			maxlength="25">
				<input type="text" placeholder="Telefone"				id="signin_Tel" 			name="signin_Tel"			alt="Telefone">
				<input type="text" placeholder="CEP"					id="signin_Cep" 			name="signin_Cep"			alt="CEP">
				<input type="password" placeholder="Senha"				id="signin_Senha" 			name="signin_Senha"			alt="Senha"				maxlength="20">
				<input type="password" placeholder="Confirmação Senha"	id="signin_Senha2"			name="signin_Senha2"		alt="Confirmação Senha"	maxlength="20">
				<div><a href="javascript:void(0)" class="botao disabled" id="signin_btn">Cadastrar</a></div>
			</div>
			<div class="modalBar"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/utils/validator.min.js"></script>
<script type="text/javascript">

var liberado = false;

$.getScript('/js/utils/jquery.inputmask.js', function () {

	$("#signin_Tel").inputmask({ mask: ["(99) 9999-9999","(99) 99999-9999"]}); 
	//$("#signin_Tel").inputmask({ mask: "(99) 9999[9]-9999", greedy:false}); 
	$('#signin_CPF').inputmask('999.999.999-99');
	$('#signin_Cep').inputmask('99999-999');
});


$('#modalCadastro').on('hide.bs.modal', function(){
	
	$('input[id^="signin"]').each(function( index ) {
		var element = { id: $(this).attr('id'), val: $(this).hasClass('form_ok') ? $(this).val() : '', validado: $(this).hasClass('form_ok') ? true : false };
		cadastro.push(element);
		// console.log(element);
	});
});


$('#modalCadastro').on('shown.bs.modal', function(){
	
	cadastro.forEach(function(item){

		if(item.id=='signin_Tel'){

			var pronto = item.val.replace(/[_() -]/g, '');
			// $('#signin_Tel').inputmask('remove');
			$('#signin_Tel').val(pronto);
			// $("#signin_Tel").inputmask({ mask: ["(99) 9999-9999","(99) 99999-9999"]}); 

		}else{
			$('#'+item.id).val(item.val);
		}

		if(item.validado) {
			$('#'+item.id).addClass('form_ok');
		}else{
			$('#'+item.id).removeClass('form_ok');
		}
	});
} );


// Valida os campos ao perder o foco
$('input[id^="signin"]').blur( function (obj) {
	validaCampos(obj);
});


// Se apagou algum dado, desabilita botao e aguarda revalidação do campo pela perda do foco
$('input[id^="signin"]').keydown( function (obj) {
	
	var e = $(this);
		
	if(e.hasClass('form_ok')) e.removeClass('form_ok');

	liberado = false;
	$('#signin_btn').addClass('disabled');

	// Pressionou ENTER nos campos dispara tecla TAB
	if (obj.which==13) {
	    e.next("input").focus();
	}
});


$('#signin_Tel').focus(function(obj){
	var elem = $.Event('keypress');

    elem.which = 32; // key SPACE to show the conditional mask
	$(this).trigger(elem);
});


// Envia o cadastro ao clicar no botao Cadastrar
$('#signin_btn').click( function () {

	if(liberado){

		var cadastro = {
			cpf:		$('#signin_CPF').val(),
			nome: 		$('#signin_Nome').val(),
			sobrenome:	$('#signin_Sobrenome').val(),
			email: 		$('#signin_Email').val(),
			email2:		$('#signin_Email2').val(),
			telefone:	$('#signin_Tel').val(),
			cep: 		$('#signin_Cep').val(),
			pwd:		$('#signin_Senha').val()
		};

		$('#signin_btn').addClass('disabled');
		$('body, input, #signin_btn').css('cursor','wait');

		$.ajax({	type:'PUT',
					url:'user/create',
					data: {dados: cadastro},
					cache:false,
					timeout:3000,
					error: function(){

						$('#signin_btn').removeClass('disabled');
						$('body, input, #signin_btn').css('cursor','auto');

					},
					success: function (data){

						if(data=='success'){
							// $('#signin_btn').removeClass('disabled');
							$('body, input, #signin_btn').css('cursor','auto');
							$('#modalCadastro').modal('hide');
		           			$('#user_info').html('true');
		           			loadMenu();
		           			return false;
						}

					}
		});

	}

});


function validaCPF(cpf) {

	cpf = cpf.replace(/[^\d]+/g,'');

	if(cpf == '') return false;

	// Elimina CPFs invalidos conhecidos
	if (cpf.length != 11 || cpf == "00000000000" || cpf == "11111111111" || cpf == "22222222222" || cpf == "33333333333" || cpf == "44444444444" || cpf == "55555555555" || cpf == "66666666666" || cpf == "77777777777" || cpf == "88888888888" || cpf == "99999999999")
		return false;
	
	// Valida 1o digito
	add = 0;
	for (i=0; i < 9; i ++)
		add += parseInt(cpf.charAt(i)) * (10 - i);
	rev = 11 - (add % 11);
	if (rev == 10 || rev == 11)
		rev = 0;
	if (rev != parseInt(cpf.charAt(9)))
		return false;
	
	// Valida 2o digito
	add = 0;
	for (i = 0; i < 10; i ++)
		add += parseInt(cpf.charAt(i)) * (11 - i);
	rev = 11 - (add % 11);
	if (rev == 10 || rev == 11)
		rev = 0;
	if (rev != parseInt(cpf.charAt(10)))
		return false;
		
	return true;
   
}

function validaCampos(obj){

	var e 	= $('#'+obj.target.id),
		name = e.attr('name'),
		tam = e.val().length;

		switch(name){

			
			case 'signin_Email':

				e.removeClass();
				e.tooltip('destroy');

				if(tam>0){
				
					if(!validator.isEmail(e.val())){
						
						e.addClass('form_erro');
						e.tooltip({	trigger:'manual', 
									title:'Digite um E-mail válido', 
									container: 'body',
									placement:'right'});

						e.tooltip('show');
						e.focus();
					
					}else{

						$.ajax({	
								type: 'POST',
								url: 'user/validate',
								data: {palavra: e.val()},
								cache: false,
		        				timeout: 5000,
								success: function (data) {

										if(data=='OK') {

											e.addClass('form_ok');

										}else{

											e.addClass('form_erro');
											e.tooltip({	trigger:'manual', 
														title:'Email já em uso', 
														placement:'right',
														container: 'body',
														});
											e.tooltip('show');
											e.focus();

											setTimeout(function () {
												e.tooltip('hide');
											}  , 5000);											
											
										}
								}
						});
					}
			

				}

				break;

			case 'signin_Email2':

				e.removeClass();
				e.tooltip('destroy');

				if(tam>0){
				
					if(!validator.isEmail(e.val())){
						
						e.addClass('form_erro');
						e.tooltip({	trigger:'manual', 
									title:'Digite um E-mail válido', 
									container: 'body',
									placement:'right'});

						e.tooltip('show');
						e.focus();
					
					}else {


						// var outro = name=='signin_Email' ? $('#signin_Email2') : $('#signin_Email');


							if( $('#signin_Email').val() != $('#signin_Email2').val() ){


								e.addClass('form_erro');
								e.tooltip({	trigger:'manual', 
											title:'Endereços de E-mail diferentes', 
											container: 'body',
											placement:'right'});

								e.tooltip('show');
								e.focus();

								// outro.addClass('form_erro');
								// outro.tooltip({	trigger:'manual', 
								// 			title:'Endereços de E-mail diferentes', 
								// 			container: 'body',
								// 			placement:'right'});

								// outro.tooltip('show');
							
							}else{

								e.addClass('form_ok');
							}
						
					}
				}

				break;

			case 'signin_CPF':

				e.tooltip('destroy');
				e.removeClass();

				var pronto = e.val().replace(/[_.-]/g,'');

				if(pronto.length>=10 && validaCPF(pronto)){
					
					e.addClass('form_ok');

				}else if(pronto.length>0){

					e.addClass('form_erro');
					e.tooltip({	trigger:'manual', 
								title:'Digite um número CPF válido', 
								container: 'body',
								placement:'right'});

					e.tooltip('show');
					e.focus();
				}
				

				break;


			case 'signin_Nome':
			case 'signin_Sobrenome':

				e.tooltip('destroy');
				e.removeClass();

				if (tam >= 3) {

					e.addClass('form_ok');

				}else if(tam > 0){

					e.addClass('form_erro');
					e.tooltip({	trigger:'manual', 
								title:'O ' + e.attr('alt') + ' deve ter pelo menos 3 letras', 
								container: 'body',
								placement:'right'});

					e.tooltip('show');
					e.focus();
				}

				break;


			case 'signin_Tel':
				
				e.removeClass();
				e.tooltip('destroy');
				var pronto = e.val().replace(/[_() -]/g, '');

				if(pronto.length>=10){
					
					e.addClass('form_ok');

				}else if(pronto.length>0){

					e.addClass('form_erro');
					e.tooltip({	trigger:'manual', 
								title:'Digite um número de telefone com DDD', 
								container: 'body',
								placement:'right'});

					e.tooltip('show');
					e.focus();
				}
					
				break;


			case 'signin_Cep':
				
				e.removeClass();
				e.tooltip('destroy');
				
				var pronto = e.val().replace(/[_-]/g,'');

				if(pronto.length==8){
				
					e.addClass('form_ok');

				}else if(pronto.length>0){

					e.addClass('form_erro');
					e.tooltip({	trigger:'manual', 
								title:'Digite um Código postal com 8 dígitos', 
								container: 'body',
								placement:'right'});

					e.tooltip('show');
					e.focus();
				}

				break;


			case 'signin_Senha':
			case 'signin_Senha2':
				
				e.removeClass();
				$('#signin_Senha, #signin_Senha2').tooltip('destroy');

				if(tam>=6){
				
					var outro = name=='signin_Senha' ? $('#signin_Senha2') : $('#signin_Senha');

					if( outro.val().length >0 ){

						if( $('#signin_Senha').val() != $('#signin_Senha2').val() ){


							$('#signin_Senha').removeClass();
							$('#signin_Senha2').removeClass();
							$('#signin_Senha').addClass('form_erro');
							$('#signin_Senha').tooltip({	trigger:'manual', 
															title:'Senhas não conferem', 
															container: 'body',
															placement:'right'});

							$('#signin_Senha').tooltip('show');

							// outro.addClass('form_erro');
							// outro.tooltip({	trigger:'manual', 
							// 			title:'Senhas não conferem', 
							// 			container: 'body',
							// 			placement:'right'});

							// outro.tooltip('show');
							$('#signin_Senha').val('');
							$('#signin_Senha2').val('');
							$('#signin_Senha').focus();
						
						}else{

							e.addClass('form_ok');
							outro.addClass('form_ok');
						}
					
					}else{

						e.addClass('form_ok');

					}

				}else if(tam>0){

					e.addClass('form_erro');
					e.tooltip({	trigger:'manual', 
								title:'A senha deve conter no mínimo 6 dígitos', 
								container: 'body',
								placement:'right'});

					e.tooltip('show');
					e.focus();
				}

				break;
		}


	if (tam==0  &&  e.attr('title') =='') {
		e.attr('placeholder', e.attr('alt'));
	}

	var lista = $('.form_ok').length;

		if(lista==9){

			liberado = true;
			$('#signin_btn').removeClass('disabled');

		}else{

			liberado = false;
			$('#signin_btn').addClass('disabled');
		}
}
</script>