doctype html
html
	head
		meta(charset="utf-8")
		meta(name="description", content="Predador de ML(s).")
		meta(name="author", content="Mecca Group")
		title= title
		
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/grid_perc.css')
		link(rel='stylesheet', href='css/dm.css')
		link(rel='stylesheet', href='css/ui.css')
		link(rel='stylesheet', href='css/mecca.css')
		
		script(src='/js/jquery-2.0.3.min.js', type='text/javascript', charset='utf-8')
    	
		block scripts
	body
		.app
			.menu
			.menubar
			.content
			.footer