<div id="modalLogin" class="modal fade" role="dialog" aria-labelledby="modalLogin" aria-hidden="true" tabindex='-1'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modalBar"></div>
			<div class="fields">
				<input type="text" placeholder="E-mail" id="login_user">
				<input type="password" placeholder="Senha" id="login_senha">
				<a href="javascript:void(0)" class="botao disabled" id="login_btn">Entrar</a>
				<div id="links">
					<a href="javascript:void(0)" id="login_novo">Novo Usuário</a>
					<a href="javascript:void(0)" id="login_recSenha">Recuperar Senha</a>
				</div>
			</div>
			<div class="modalBar"></div>
		</div>
	</div>
</div>

<script type="text/javascript">

function zeraCampos(){
	$('#login_user').attr('placeholder','E-mail');
	$('#login_senha').attr('placeholder','Senha');
	$('input').removeClass('form_erro');
}


// Novo Cadastro
$('#login_novo').click(function() {
	
	$('#modalLogin').modal("hide");
	$.ajax({	
		type: 'GET',
		url: 'user/new',
		success: function (data) {
			var tag = $('#modalCadastro');

			if(tag.length > 0) {
				tag.remove();
			}

			$('#menu').append(data);
			$('#modalCadastro').modal("show");
			$('#signin_User').focus();
		}
	});

});

// Recuperar Senha
$('#login_recSenha').click(function() {
	$('#modalLogin').modal("hide");
	$.ajax({	
		type: 'GET',
		url: 'user/recSenha',
		success: function (data) {
			var tag = $('#modalRecSenha');

			if(tag.length > 0) {
				tag.remove();
			}

			$('#menu').append(data);
			$('#modalRecSenha').modal("show");
			$('#recSenha_Email').focus();
		}
	});
});

// Teclando ENTER chama login.click
$('#login_user, #login_senha').keydown( function (event) {
	if(event.which==13) $("#login_btn").click();
});

// Efetua validação e login
$("#login_btn").click( function() {

	user = $('#login_user').val();
	pwd = $('#login_senha').val();

	if(user==''){
		zeraCampos();
		$('#login_user').attr('placeholder','Digite um E-mail'); 
		$('#login_user').addClass('form_erro');
		$('#login_user').focus();
		return false;

	}else if(pwd==''){
		zeraCampos();
		$('#login_senha').attr('placeholder','Digite uma senha'); 
		$('#login_senha').addClass('form_erro');
		$('#login_senha').focus();
		return false;
	}

	
	$('#login_btn').addClass('disabled');
	$('body, input, #login_btn').css('cursor','wait');

	$.ajax({
       	type: 'POST',
       	url: 'user/auth',
        data: {login_user: user, login_senha: pwd},
		cache: false,
		timeout: 5000,
		error: function(){

			$('#login_btn').removeClass('disabled');
			$('body, input, #login_btn').css('cursor','auto');

		},
       	success: function(data)	{
       			
			$('#login_btn').removeClass('disabled');
			$('body, input, #login_btn').css('cursor','auto');

       			switch(data){

       			case 'loginOk': /* ------------------------ Dá os parabéns ao novo usuário, já logado ---------------------- */

           			$('#modalLogin').modal('hide');
           			$('#user_info').html('true');
           			loadMenu();
           			return false;
					break;

       			case 'userNotFound':
       				zeraCampos();
       				$('#login_user').val('');
       				$('#login_user').attr('placeholder','Email inexistente'); 
       				$('#login_user').addClass('form_erro');
					$('#login_user').focus();
       				break;

       			case 'incorrectPwd':
       				zeraCampos();
       				$('#login_senha').val('');
       				$('#login_senha').attr('placeholder','Senha incorreta'); 
       				$('#login_senha').addClass('form_erro');
					$('#login_senha').focus();
       				break;

       		}
        }
     });
});

</script>