<div id="logo"><img src="/i/mecca.svg" alt="Mundo Mecca" title="Mundo Mecca"></div>

<div id="busca">
	<form name="search" id="search" method="GET" action="localhost:5000/busca" autocomplete="off">
		<div id="form_container">
			<input type="text" class="txtSearch" autocomplete="off" placeholder="" tabIndex=1 id="s" name="s">
			<input type="text" class="txtSearch" id="ss" disabled autocomplete="off" aria-hidden="true">
			<input type="button" value="" class="btnSearch rR" id="btn_search" name="btn_search">
		</div>
		<div id="results"></div>
	</form>
</div>

<div id="menuIcons">
	<div class="menuBtnSettings" data-toggle="tooltip" data-placement="bottom" title="">
		<% if (auth=='true') { %>
		<% 	include menu_auth.html %>
		<% } else { %>
		<% 	include menu_noauth.html %>
		<% } %>
	</div>
	<div class="menuBtnSell" data-toggle="tooltip" data-placement="bottom" title="Vender">
		<svg class="menuSellSVG" xmlns="http://www.w3.org/2000/svg" width="37" height="35" viewBox="0 0 37 35"><path fill="#f1592a" d="M34.669 4.09c-1.786-2.408-9.062-5.213-13.332-2.436-5.806 3.777-15.394 10.192-18.885 13.175-1.647 1.406-2.701 4.675-1.491 7.04 1.064 2.08 2.54 4.327 4.036 6.25 1.572 1.862 3.438 3.782 5.252 5.254 2.063 1.674 5.479 1.32 7.197 0 3.642-2.798 11.903-10.848 16.801-15.746 3.602-3.602 2.406-11.291.422-13.537zm-4.963 6.606c-1.197 0-2.17-.972-2.17-2.17s.973-2.171 2.17-2.171c1.199 0 2.171.972 2.171 2.171s-.972 2.17-2.171 2.17z"/></svg>
	</div>
	
	<% if (auth=='true') { %>
	<%	include menu_notifications.html %>
	<% } %>
</div>
