<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <% include _head.html %>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<% include _navbar.html %>

<div class="container" id="novo_anuncio">
  <div class="page-header">
    <h1>Novo anúncio</h1>
  </div>
  <div class="row">
    <div class="col-md-5">
      <img src="img/c.png" alt="" class="img-responsive">
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" placeholder="Título do produto">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <textarea class="form-control" rows="5" placeholder="Descrição"></textarea>    
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" placeholder="Marca">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" placeholder="Tags">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h4>Cores</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-xs-4"><input type="text" class="form-control" placeholder="R$"></div>
        <div class="col-xs-4"><input type="text" class="form-control" placeholder="Qtd"></div>
        <div class="col-xs-4"><input type="text" class="form-control" placeholder="Kg"></div>
      </div>
      <div class="row" id="condicao">
        <div class="col-xs-12">
          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-default"><input type="radio" name="condicao" id="condicaoNovo">Novo</label>
            <label class="btn btn-default"><input type="radio" name="condicao" id="condicaoUsado">Usado</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <select class="selectpicker" data-width="100%" title="Departamento" id="departamento">
            <option>Moças</option>
            <option>Rapazes</option>
            <option>Kids</option>
            <option>Casa</option>
            <option>Info&Eletro</option>
            <option>Etc&Tal</option>
          </select>
        </div>
      </div>
      <div class="row hidden">
        <div class="col-xs-12">
          <select class="selectpicker" data-width="100%" title="Categoria" id="categoria">
            <option>-</option>
          </select>
        </div>
      </div>
      <div class="row hidden">
        <div class="col-xs-12">
          <select class="selectpicker" data-width="100%" title="Sub-categoria" id="subcategoria">
            <option>--</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <select class="selectpicker" data-width="100%" title="Opções de Frete" id="frete">
            <option value="emmaos">Entregar em mãos</option>
            <option value="peso">Cobrar por peso</option>
            <option value="gratis">Frete grátis</option>
          </select>
        </div>
      </div>
      <div class="row hidden">
        <div class="col-xs-12">
          <select class="selectpicker" data-width="100%" title="Escolha a região" id="frete_gratis_regiao">
            <option>Para todo o Brasil</option>
            <option>Para o seu Estado</option>
            <option>Para a sua Cidade</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-right">
      <button class="btn btn-lg btn-a btn-vH" type="submit">Enviar</button>
    </div>
  </div>

  <hr>
  <% include _footer.html %>
  
</div>
<% include _scripts.html %>
<script src="js/novo_anuncio.js"></script>

<!-- Google Analytics -->
<% include _ga.html %>
</body>
</html>