// FONTS
// --------------------------------------------------------------------------

@import "font-awesome/font-awesome";

@font-face {
  font-family: 'Oswald';
  src: local('☺'), url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
