* {
	font-family: "PT Sans";
	// font-family: "Roboto Slab";
	// font-family: "Monda";
	// font-family: "Maven Pro";
}

body {
	background-color: $bgh;
}

// forms
.form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

// page header
.page-header {
	color: $azul;
	font-family: "Oswald";
	text-transform: uppercase;
	text-align: center;
}

// navbar
.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
	background-color: $menu;
	.navbar-brand {
		padding: 5px 15px;
	}
	#search {
		#buscar {
			padding: 6px 20px 8px 20px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
	.navbar-nav {
		.open > a, .open > a:hover, .open > a:focus {
			background-color: transparent;
			.fa {
				color: $azul;
			}
		}	
		li a {
			padding: 10px 15px;
			.fa {
				color: $cd;
			}	
			&:hover, &:focus {
				background-color: transparent;
				.fa {
					color: $azul;
				}
			}
		}
	} 
	#vender {
		margin-left: 20px;
		padding: 6px 20px;
		font-size: 1.1em;
	}
}

// footer
footer {
	#footer {
		background-color: $menu;
		margin-top: 50px;
		padding: 50px 0px 40px 0px;
		h4 {
			font-family: "Oswald";
			text-transform: uppercase;
			color: $azul;
			margin-bottom: 20px;
			margin-top: 0px;
		}
		ul.list-unstyled li {
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0px;
			}
			a {
				color: $cd;
				text-decoration: none;
				&:hover {
					color: #000;
				}
			}
		}
		ul#social li a {
			color: $cm;
			.fa {
				font-size: 1.5em;
			}
			&:hover {
				.fa-facebook    { color: #3a5795; }
				.fa-twitter     { color: #22a5dd; }
				.fa-pinterest-p { color: #d73532; }
				.fa-instagram   { color: #125688; }
				.fa-tumblr      { color: #36465d; }
				.fa-google-plus { color: #333333; }
			}
		}
	}
	#legal {
		@include ch;
		color: $cd;
		padding: 20px 0px;
		font-size: 0.9em;
		a {
			color: $cd;
			text-decoration: none;
			&:hover {
				color: $azul;
			}
		}
	}
}
