
#novo_anuncio {
	.row {
		margin-bottom: 20px;
	}
	textarea {
		resize: none;
	}

	#condicao {
		.active {
			-webkit-box-shadow: none;
			box-shadow: none;
			background-color: $azul;
			border-color: $azul;
			color: #fff;
			text-shadow: none;
		}
	}
}
